<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events Happening</title>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700;900&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/event.css">
</head>
<body>
<h2 class="axis">
    Live Events
</h2>

<div class="event-container">
    <div class="event-card">
        <div class="card-image">
            <img src="/images/Event/winterevent.jpg" alt="ThrillZone Winter Fest & Carnivibe">
        </div>
        <div class="card-content">
            <h3>ThrillZone Winter Fest & Carnivibe</h3>
            <p>These events focus on the cooler climate, holiday lighting, and Republic Day patriotism.</p>
            <button class="view-btn">View Details</button>
        </div>
    </div>

    <div class="event-card">
        <div class="card-image">
            <img src="/images/Event/summerevent.jpg" alt="Summer Carnival">
        </div>
        <div class="card-content">
            <h3>ThrillZone Summer Carnival</h3>
            <p>This is arguably the largest summer event in the country. It usually kicks off in mid-April and runs through June.</p>
            <button class="view-btn">View Details</button>
        </div>
    </div>

    <div class="event-card">
        <div class="card-image">
            <img src="/images/Event/aquafest.jpg" alt="Aqua Splash">
        </div>
        <div class="card-content">
            <h3>Aqua Fest</h3>
            <p>As Asia's largest theme water park, their summer event is centered on high-energy pool parties.</p>
            <button class="view-btn">View Details</button>
        </div>
    </div>

    <div class="event-card">
        <div class="card-image">
            <img src="/images/Event/holidayevent.jpg" alt="ThrillZone Holi-Day Bash">
        </div>
        <div class="card-content">
            <h3>ThrillZone Holi-Day Bash</h3>
            <p>Celebrated across all ThrillZone locations, the Holi 2026 event (mid-March) is a high-energy mix of traditional festivities and modern thrills.</p>
            <button class="view-btn">View Details</button>
        </div>
    </div>
    <div class="see-more-box" onclick="location.href='/foodcourt'">
        <div class="plus-icon">+</div>
        <div class="see-more-text">See More</div>
    </div>
</div>
<footer>
    <h1 class="display">
        Upcoming Live Events </h1>
</footer>

</body>
</html>