<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Summary</title>
  <link rel="stylesheet" th:href="@{/css/eventRegisSummary.css}">

</head>
<body>

<h2>Registration Summary</h2>

<p><b>Event Name:</b>
  <span th:text="${event.e_name}"></span>
</p>

<p><b>Customer Name:</b>
  <span th:text="${registration.name}"></span>
</p>

<p><b>Phone Number:</b>
  <span th:text="${registration.phone}"></span>
</p>

<p><b>Email:</b>
  <span th:text="${registration.email}"></span>
</p>

<p><b>Total Participants:</b>
  <span th:text="${registration.participants}"></span>
</p>

<p><b>Total Amount:</b>
  ₹ <span th:text="${registration.totalAmount}"></span>
</p>

<hr>

<form th:action="@{/user/eventPaymentPage}" method="post">

  <input type="hidden" name="eventId" th:value="${eventId}">
  <input type="hidden" name="ticketPrice" th:value="${ticketPrice}">

  <input type="hidden" name="name" th:value="${registration.name}">
  <input type="hidden" name="phone" th:value="${registration.phone}">
  <input type="hidden" name="email" th:value="${registration.email}">
  <input type="hidden" name="participants" th:value="${registration.participants}">
  <input type="hidden" name="totalAmount" th:value="${registration.totalAmount}">

  <button type="submit">Proceed To Payment</button>

</form>

<br>

<form th:action="@{/user/editRegistration}" method="post">

  <input type="hidden" name="eventId" th:value="${eventId}">
  <input type="hidden" name="ticketPrice" th:value="${ticketPrice}">

  <input type="hidden" name="name" th:value="${registration.name}">
  <input type="hidden" name="phone" th:value="${registration.phone}">
  <input type="hidden" name="email" th:value="${registration.email}">
  <input type="hidden" name="participants" th:value="${registration.participants}">
  <input type="hidden" name="totalAmount" th:value="${registration.totalAmount}">

  <button type="submit">Edit Details</button>

</form>

</body>
</html>