<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/forgot-password.css">

</head>
<body>
     <div class="parent-container">
         <div>
             <img src="/images/Auth/forgot-password.jpg" alt="Forgot Password Image" >
         </div>
         <form >
             <label>New Password : </label>
             <input type="password" name="newPass" class="pass-inp" required><br>
             <label>Confirm New Password : </label>
             <input type="password" name="confirmPass" class="cpass-inp" required><br><br>
             <input type="submit" disabled>

         </form>
     </div>


    <script src="/js/forgot-password.js"></script>
</body>
</html>