body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.header{
       display: flex;
       height:65px;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 1000;
       justify-content: space-between;
       align-items: center;
       padding: 0 30px;
       background: white;
       box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
       box-sizing: border-box;
    }

     .logoimg {
       width: 120px;
        height: auto;
        max-height: 90px;
     }
     .logo-container {
        display: flex;
        align-items: center;

    }
      .nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        color:black;
        margin:0 18px;
        font-size:18px;
       font-family: 'Poppins', sans-serif;
        font-weight:500;
        gap: 20px;
        }
      .nav a.active {
          color: blue;
          font-weight: bold;

      }
    .nav a {
        text-decoration: none !important;
        color: black;
        transition: color 0.3s ease;
    }
    .nav a.active {
        color: blue !important;
        font-weight: bold !important;
    }
        .nav a:hover {
        color: #ff5722;
    }
    .logout{
    height:30px;
  width:80px;
    border-radius:10px;
    padding:3px;
    font-size:17px;
    font-weight:500px
    }
    .notlogin{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:30px;
gap:20px;
    }
   .login, .signup {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 8px 16px;
       height: 35px;
        font-size: 18px;
       font-weight: 400;
       font-family: 'Poppins', sans-serif;
       text-decoration:none;
       border: 2px solid black;
       border-radius: 10px;
       cursor: pointer;

    }