<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
<header class="header" th:fragment="Header(isLoggedIn)">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <div class="logo-container">
        <a href="/user/home"><img class="logoimg" src="/images/Logo/logo.png"></a>
    </div>

    <nav class="nav" th:if="${isLoggedIn}">

        <a href="/user/rides"
           th:classappend="${activePage == 'rides'} ? 'active'">
            Rides
        </a>

        <a href="/user/events"
           th:classappend="${activePage == 'event'} ? 'active'">
            Events
        </a>

        <a href="/user/foods"
           th:classappend="${activePage == 'food'} ? 'active'">
            Food Court
        </a>

        <a href="/user/ParkProfile"
           th:classappend="${activePage == 'ParkProfile'} ? 'active'">
            Park Profile
        </a>

    </nav>
    <div class="right-section">

        <button class="logout" th:if="${isLoggedIn}" onclick="window.location.href='/'">
            Logout
        </button>

        <div th:if="${!isLoggedIn}" class="notlogin">
            <button class="login" onclick="window.location.href='/login-form' ">Login</button>
            <button class="signup" onclick="window.location.href='/signup-form'">Signup</button>
        </div>

    </div>

</header>
</body>
</html>