<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" th:href="@{/admincss/foodForm.css}">
</head>
<body>

<form th:action="@{/admin/addFood}" method="post" enctype="multipart/form-data">

  <h1>Add Food Items...</h1>

  <input type="text" name="f_name" placeholder="Food Name" required>

  <input type="text" name="food_desc" placeholder="Description" required>

  <label>Select category</label>
  <select name="category" required>
    <option value="">-- Choose Category --</option>
    <option value="fastfood">Fast Food</option>
    <option value="beverages">Beverages</option>
    <option value="dessert">Dessert</option>
    <option value="streetfood">Street Food</option>
  </select>

  <input type="number" name="f_price" placeholder="Price">

  <input type="file" name="f_image" required>

  <label>
    <input type="checkbox" name="is_available" >Available
  </label>
  <button type="submit">Order now</button>

</form>
</body>
</html>